<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= pagination(@pagy) %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user, class: "link" %>
    </li>
		<hr>
  <% end %>
</ul>

<%= pagination(@pagy) %>